.App {
    min-width: 1024px;
    height: 100%;
    margin: 0;
}

.title-container {
    padding: 0;
    margin: 0 0 20px 0;
    height: 50px;
    background-color: rgb(176, 204, 207);
}

.content-container {
    display: flex;
}
